
.container_profile{
    margin :auto;
    max-width: 1440px;
    border-radius: 30px;
}
.container_profile .main{
    max-width: 1024px;
    margin : auto;
    padding : 50px 0;
}
.container_profile .main .profile_card{
    justify-content: space-around;
    width: 100%;
    height: 500px;
}

.container_profile .main .profile_card .img_box{
    display: flex;
    height: 400px;
    width : 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all ease 1s;
}

.container_profile .main .profile_card .img_box img{
    border-radius: 150px;
    height: 360px;
    width : 300px;
    box-shadow: 0 4px 32px rgba(0, 0, 4, 0.5);
    transition: all ease 1s;
}
.container_profile .main .profile_card .img_box img:hover {
    transform: scale(1.3);
}
.container_profile .main .profile_card .img_box h3{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px #2d4380;
}

.container_profile .main .profile_card .introduce{
    height: 400px;
    width : 600px;
    overflow: hidden;
    box-shadow: -2px 4px 16px rgba(0, 0, 4, 0.5);
    border-radius: 10px;
    transition: all ease 1s;
}
.container_profile .main .profile_card .introduce:hover {
    transform: scale(1.1);
}


footer {
    display: flex;
    background-color:#EEEEEE;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 32px;
}
.bigScreen {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #25486F;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 20;
    padding: 0 20px;

}

.bigScreen_text {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 6px #6b72de;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
}



@media (max-width: 1024px) and (min-width: 360px){
    .bigScreen {
        display: none;
    }

    body {
        background-color: #e8e8e8;
        margin : 0px;
    }
    header{
        width : 100%;
        height: 50px;
        background-color: rgba(37, 72, 111, 0.9);
        box-shadow: 0px 4px 32px rgba(78, 78, 78, 0.4);
    }
    header .header_nav{
        display: flex;
        max-width: 1024px;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    .banner{
        margin : 100px 0;
        text-align: center;
        font-size: 50px;
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 2px 2px #2d4380;
        animation-duration: 3s;
        animation-name: slidein;
    }
    .banner img{
        width: 128px;
        height: 128px;
    }
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-left: 0;
            width: 100%;
        }
    }

    .container_profile {
        margin: auto;
        box-shadow: none;
        border-radius: 30px;
    }

    header .header_nav {
        font-size: 20px;
    }

    .banner {
        margin: 50px 0;
    }

    .banner h3 {
        font-size: 20px;
        margin : 0 auto;
    }

    .banner img {
        width: 64px;
        height: 64px;
    }

    .container_profile .main {
        background-color: #e8e8e8;;
        box-shadow: none;
        padding: 0;
    }

    .container_profile .main .profile_card {
        display: flex;
        width: 100%;
        height: 500px;
    }

    .container_profile .main .profile_card .img_box {
        margin-top: 80px;
    }

    .container_profile .main .profile_card .img_box img {
        height: 360px;
        width: 300px;
    }

    .container_profile .main .profile_card .img_box h3 {
        font-size: 16px;
    }

    .container_profile .main .profile_card .introduce {
        height: 330px;
        width: 400px;
        margin: auto;
        padding: 10px;
    }
    .friends{
        margin-top: 60px;
    }
    .edit_btn{
        margin-top: 50px;
    }
    .container_profile .main .profile_card .introduce .career{
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .container_profile .main .profile_card .introduce .edit_btn{
        text-align: center;
        padding-top : 5px;
        margin-left: 50px;
        width: 300px;
        height: 28px;
        border: solid 1px #C4C4C4;
        border-radius: 20px;
        background-color: #C4C4C4;
        box-shadow: 2px 2px 2px 2px #adadad;
    }

    footer {
        height: 100px;
        font-size: 16px;
    }



}