body{margin: 0; width: 1440px; background: #F3F9FF; height: 1554px;}
p,h1,h2,h3,h4,h5{margin : 0;}
body .banner-img{max-width: 1440px; min-width: 1024px; height: 375px; border-radius: 2px; background-image: url("../images/banner.jpg"); background-size: cover; background-position: center; box-shadow: 0 0 3px 0 black; margin-bottom: 20px;}
header { height: 60px; background:#6F7691;}
header .header-wrap{margin: 0 208px;display: flex; flex-direction: row; justify-content: space-between; }
header .logo{color: white; padding: 8px; font-size: 36px; line-height: 42px;}
header .member-menu{padding: 16px; font-size: 24px; line-height: 28px;  }
header .member-menu a{text-decoration: none; color: black;}
header .btn {display: none;}
main{display: flex; height: 1000px; flex-direction: row; justify-content: space-between; margin: 0 208px;}
.home{display: flex; flex-direction: column; justify-content: space-between; background: #F3F9FF;}
.home .menu-image {height: 312px; width: 680px; margin-left: 21px; background: #C4C4C4; border-radius: 10px; }
.home .menu-image h3{font-size: 24px; line-height: 28px; color: #000000;margin:11px;}
.home .menu-image .img-wrap{display: grid; grid-template-columns: repeat(3,1fr); margin-left: 18px;}
.home .menu-image .img-wrap .img{width: 200px; height:200px;  transform: scale(1); transition: all 0.3s ease-in-out; box-shadow: 0 0 6px 0 black;}
.home .menu-image .img-wrap .img:hover{transform: scale(1.1);}
.home .menu-image .img-wrap .img1{background-image: url("../images/KakaoTalk_20200914_182659266_02.jpg"); background-repeat: no-repeat; background-size: cover; border-radius: 10px;}
.home .menu-image .img-wrap .img2{background-image: url("../images/KakaoTalk_20200914_182659266_15.png"); background-repeat: no-repeat; background-size: cover; border-radius: 10px; background-position: center;}
.home .menu-image .img-wrap .img3{background-image: url("../images/KakaoTalk_20200914_182659266_04.png"); background-repeat: no-repeat; background-size: cover; border-radius: 10px;background-position: center;}
.home .menu-image .img-wrap .img4{background-image: url("../images/KakaoTalk_20200914_182659266_19.jpg"); background-repeat: no-repeat; background-size: cover; border-radius: 10px;background-position: center;}
.home .menu-image .img-wrap .img5{background-image: url("../images/KakaoTalk_20200914_182659266_06.jpg"); background-repeat: no-repeat; background-size: cover; border-radius: 10px;background-position: center;}
.home .menu-image .img-wrap .img6{background-image: url("../images/KakaoTalk_20200914_182659266_07.jpg"); background-repeat: no-repeat; background-size: cover; border-radius: 10px;background-position: center;}
.home .menu-image .img-wrap .img7{background-image: url("../images/KakaoTalk_20200914_182659266.jpg"); background-repeat: no-repeat; background-size: cover; border-radius: 10px;background-position: center;}
.home .menu-image .img-wrap .img8{background-image: url("../images/KakaoTalk_20200914_182659266_14.jpg"); background-repeat: no-repeat; background-size: cover; border-radius: 10px;background-position: center;}
.home .menu-image .img-wrap .img9{background-image: url("../images/KakaoTalk_20200914_182659266_10.jpg"); background-repeat: no-repeat; background-size: cover; border-radius: 10px;background-position: center;}
.home .menu-image .text-wrap {display: grid; grid-template-columns: repeat(3,1fr); margin-top: 15px;}
.home .menu-image .text-wrap .img-text{text-align: center;}
.home .menu-image .text-wrap a{font-size: 30px;  font-weight: normal;line-height: 35px; text-decoration: none; color: black;transform: scale(1);  transition: .3s;}
.home .menu-image .text-wrap a:hover {transform: scale(1.2); }
aside{display: flex; flex-direction: column; width:322px; background:#F3F9FF; height: auto;  }
aside .my-info {display: flex; flex-direction: column; justify-content: start; padding: 10px 10px 0; background: #B5CAE9; border-radius: 10px; height: 251px;margin-bottom: 21px; box-shadow: 0 4px 1px 0 #C4C4C4;}
aside .my-info p{font-size: 24px; line-height: 30px; font-weight: bold;}
aside .my-info a{color: #dfe9f8; font-weight: lighter; margin-top: 40px;text-align: center; font-size: 32px; line-height: 40px;  text-decoration: none; transform: scale(1); transition: all 0.3s ease-in-out; }
aside .my-info a:hover{transform: scale(1.2);}
aside .my-info .line{margin:10px 0; width: 259px;border: 3px solid #dfe9f8; transform: rotate(-0.69deg);}
aside .menu { background: #b5cae9; border-radius: 10px; flex:1;display: flex; flex-direction: column; padding: 10px;}
aside .menu .menu-wrap {display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 40px;}
aside .menu .menu-wrap a{font-size: 35px; line-height: 35px; text-decoration: none; color: black;}
aside .menu .menu-wrap .main-menu{margin-bottom: 3px;}
aside .menu .menu-wrap .sub-menu{font-size: 30px; margin:0 0 4px 30px; position: relative; display: inline-block; transition: .3s;}
aside .menu .menu-wrap .sub-menu:after{ position: absolute; bottom: .3em;left: 0; content: ''; width: 200px; height: 1px; background-color: #dfe9f8; opacity: 0.1; transition: .3s;}
aside .menu .menu-wrap .sub-menu:hover{transform: scale(1.02);}
aside .menu .menu-wrap .sub-menu:hover:after{bottom: 0; opacity: 1;}
aside .menu .menu-wrap .sub-menu:before{position:absolute; left: -27px; margin-top: 5px; content: url("../images/pencil.png"); width:12px; height: 12px; margin-right: 5px;}
aside .menu .menu-wrap .line{width: 259px;border: 3px solid #dfe9f8; transform: rotate(-0.69deg);margin-bottom: 9px;}
footer{height: 145px; background: #6F7690; display: flex; flex-direction: column; justify-content: center; color: #FFFDEC; margin-top: 20px;}
footer .footer-wrap { margin: 0 208px; }
footer .footer-wrap h3{margin-left: 18px; font-size: 28px; line-height: 28px; font-weight: lighter;}
footer .footer-wrap h3:first-child{margin-bottom: 20px;}

@media( max-width: 1024px){
    body {width: 1024px;height: 960px;}
    body .banner-img {max-width: 1024px; min-width: 1000px; height: 220px;}
    body main{width: 1024px; height: 960px; margin:0 auto;}
    header .header-wrap {display: flex;flex-direction: row;justify-content: space-between; margin: 0;}
    header .logo{color: white; padding: 8px; font-size: 40px; line-height: 42px;}
    header .member-menu{display: none;}
    header .btn {width: 60px; height: 60px; position: absolute; right: 0; top: 2px; z-index: 1; background-image: url("../images/menu_img.png"); background-size: cover; background-repeat: no-repeat; background-position: center; cursor: pointer;}
    aside{max-width:680px; height: 620px; overflow: hidden; background:transparent; position: fixed; top: 60px; right: -440px; z-index: 10; transition: All 0.5s ease-in-out;}
    aside.open{display: flex; flex-direction: column; right: 20px; width: 680px;}
    aside .my-info {display: flex; flex-direction: column; justify-content: start; padding: 10px 10px 0;  height: 150px; margin-bottom: 12px; background-color: transparent; box-shadow: none; border: 2px solid #3b4258;}
    aside .my-info p{font-size: 22px; line-height: 30px; font-weight: bold;}
    aside .my-info a{display: none;}
    aside .my-info .line{margin:10px 0; width: 450px;border: 3px solid #dfe9f8; transform: scale(2);}
    aside .menu {display: flex; flex-direction: column; justify-content: start; padding: 10px 10px 0;  height: 150px; margin-bottom: 21px; background-color: transparent; box-shadow: none;}
    aside .menu .menu-wrap {display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 0;}
    aside .menu .menu-wrap a{font-weight: bold; font-size: 20px; line-height: 35px; text-decoration: none; color: black;}
    aside .menu .menu-wrap .main-menu{margin-bottom: 3px;}
    aside .menu .menu-wrap .sub-menu{font-size: 17px; margin:0 0 4px 30px; position: relative; display: inline-block; transition: .3s;}
    aside .menu .menu-wrap .sub-menu:after{ position: absolute; bottom: .3em;left: 0; content: ''; width: 600px; height: 1px; background-color: #dfe9f8; opacity: 0.1; transition: .3s;}
    aside .menu .menu-wrap .line{margin:10px 0; width: 450px;border: 3px solid #dfe9f8; transform: scale(2);}
    body main section{width: 1024px; }
    body main section .menu-image {width: 1024px; height: 400px; margin-left: 0; margin-bottom: 20px;}
    body main section .menu-image .img-wrap{display: grid; grid-template-columns: repeat(3,1fr); margin-left: 60px;}
    body main section .menu-image .img-wrap .img{width: 250px;height: 200px; transform: scale(1); transition: all 0.3s ease-in-out; box-shadow: 0 0 6px 0 black;}
    body main section .menu-image .text-wrap{margin-top: 10px;}
    body main section .menu-image .text-wrap .img-text {font-size: 30px;}
    body main section .menu-image .text-wrap .img-text:last-child{margin-right: 40px;}
    footer {height: 45px; margin: 0;}
    footer .footer-wrap { display: flex; flex-direction: row; justify-content: space-between; margin: 0 auto;}
    footer .footer-wrap h3{font-size: 15px; margin: 0;}
    footer .footer-wrap h3:first-child{margin-right: 15px; margin-bottom: 0;}
    #menu {width: 700px; height: 700px; position: fixed; top: 0; right: -750px; z-index: 10; border: 1px solid #5b607d; border-radius: 20px; background-color: #6f7691; text-align: center; transition: All 0.5s ease-in-out; }
    #menu.open {right : 10px;}
    .close {width: 60px; height: 60px; position: absolute; right: 0; top: 0; background-image: url("http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png"); background-size: 50%; background-repeat: no-repeat; background-position: center; cursor: pointer;}
    .page_cover { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.2); z-index: 4; display: none; transition: All 0.5s ease}
    .page_cover.open { display: block; }

    html.open {overflow: hidden;}
}
@media( max-width: 376px){
    body {width: 375px;height: 650px;}
    body .banner-img {max-width: 375px; min-width: 200px; height: 170px;}
    body main{width: 375px; height: 650px; margin:0 auto;}
    aside{max-width:280px; height: 550px; overflow: hidden; background:transparent; position: fixed; top: 40px; right: -320px; z-index: 10; transition: All 0.5s ease-in-out;}
    aside.open{display: flex; flex-direction: column; right: 25px;}
    aside .my-info {display: flex; flex-direction: column; justify-content: start; padding: 10px 10px 0;  height: 150px; margin-bottom: 12px; background-color: transparent; box-shadow: none; border: 2px solid #3b4258;}
    aside .my-info p{font-size: 18px; line-height: 30px; font-weight: bold;}
    aside .my-info a{ color: #dfe9f8; font-weight: lighter; margin-top: 0; text-align: center; font-size: 32px; line-height: 30px;  text-decoration: none; transform: scale(1); transition: all 0.3s ease-in-out; border-bottom: 1px solid white; display: none;}
    aside .my-info a:hover{transform: scale(1.2);}
    aside .my-info .line{margin:10px 0; width: 259px;border: 3px solid #dfe9f8; transform: scale(2);}
    aside .menu {display: flex; flex-direction: column; justify-content: start; padding: 10px 10px 0;  height: 150px; margin-bottom: 21px; background-color: transparent; box-shadow: none;}
    aside .menu .menu-wrap {display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 0;}
    aside .menu .menu-wrap a{font-weight: bold; font-size: 20px; line-height: 35px; text-decoration: none; color: black;}
    aside .menu .menu-wrap .main-menu{margin-bottom: 3px;}
    aside .menu .menu-wrap .sub-menu{font-size: 17px; margin:0 0 4px 30px; position: relative; display: inline-block; transition: .3s;}
    aside .menu .menu-wrap .line{margin:10px 0; width: 259px;border: 3px solid #dfe9f8; transform: scale(2);}
    body main section{width: 375px; }
    body main section .menu-image {width: 375px; height: 200px; margin-left: 0; margin-bottom: 20px;}
    body main section .menu-image .img-wrap{display: grid; grid-template-columns: repeat(3,1fr); margin-left: 20px;}
    body main section .menu-image .img-wrap .img{width: 100px;height: 100px; transform: scale(1); transition: all 0.3s ease-in-out; box-shadow: 0 0 6px 0 black;}
    body main section .menu-image .text-wrap{margin-top: 10px;}
    body main section .menu-image .text-wrap .img-text {font-size: 20px;}
    header .header-wrap {margin: 0 auto;display: flex;flex-direction: row;justify-content: space-between;}
    header .logo{color: white; padding: 8px; font-size: 40px; line-height: 42px;}
    header .member-menu{display: none;}
    header .btn {width: 50px; height: 50px; position: absolute; right: -20px; top: 8px; z-index: 1; background-image: url("../images/menu_img.png"); background-size: cover; background-repeat: no-repeat; background-position: center; cursor: pointer;}
    footer {height: 45px; margin: 0;}
    footer .footer-wrap { display: flex; flex-direction: row; justify-content: space-between; margin: 0 auto;}
    footer .footer-wrap h3{font-size: 15px; margin: 0;}
    footer .footer-wrap h3:first-child{margin-right: 15px; margin-bottom: 0;}
    #menu {width: 300px; height: 600px; position: fixed; top: 0; right: -320px; z-index: 10; border: 1px solid #5b607d; border-radius: 20px; background-color: #6f7691; text-align: center; transition: All 0.5s ease-in-out; }
    #menu.open {right : 10px;}
    .close {width: 50px; height: 50px; position: absolute; right: 0; top: 0; background-image: url("http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png"); background-size: 50%; background-repeat: no-repeat; background-position: center; cursor: pointer;}
    .page_cover { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.2); z-index: 4; display: none; transition: All 0.5s ease}
    .page_cover.open { display: block; }

    html.open {overflow: hidden;}
}

.page {display: flex; flex-direction: row; justify-content: space-between;}
.page .post{width: 680px; height: 1000px;background: transparent;}
.blue {
    border-top: solid 3px #a9a9a9;
    border-bottom: solid 1px #adadad;
    height: 33px;
    width: 700px;
    max-width: 95%;
    color: #e9e9e9;
    background: #fff;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
#list {
    border-collapse:collapse;
    text-align:center;
}
.list th {padding:3px 6px;}
.list td {border-bottom:1px solid #999; padding:3px 6px; height:25px;}
.index { width:50px;}
.subject {width:450px; max-width:98%;}
.writer { width:95px;}
.day { width:50px;}
.cnt{ width:50px;}